<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wang.ultra.my_utilities.common.download.mapper.FileTransferMapper">

    <insert id="fileAdd" parameterType="list">
        insert into file_transfer_info (id, real_name, show_name, create_time, creator, status) values
        <foreach collection="list" separator="," item="FileTransferEntity">
            (
            '${FileTransferEntity.id}',
            '${FileTransferEntity.real_name}',
            '${FileTransferEntity.show_name}',
            '${FileTransferEntity.create_time}',
            '${FileTransferEntity.creator}',
            '${FileTransferEntity.status}'
            )
        </foreach>
    </insert>

    <update id="fileAmountCount">
        update file_transfer_info set amount = amount + 1 where id = #{id}
    </update>

    <delete id="fileDeleteById">
        delete from file_transfer_info where id = #{id}
    </delete>

    <select id="fileSelectByShowName" resultType="map">
        SELECT id, real_name, amount FROM file_transfer_info
        WHERE  1 = 1
        AND show_name = #{showName}
        AND status = 1
        ORDER BY create_time
    </select>

    <select id="fileSelectByRealName" resultType="map">
        SELECT id, real_name, amount FROM file_transfer_info
        WHERE  1 = 1
        AND real_name = #{realName}
        AND status = 1
        ORDER BY create_time
    </select>

    <select id="getFileByCleaner" resultType="map">
        SELECT id, real_name, create_time, amount, status
        FROM file_transfer_info
        WHERE 1 = 1
        AND status = 1
        AND amount &lt;= 1
        AND create_time &lt;= #{createTime}
        ORDER BY create_time desc
    </select>

</mapper>
