<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wang.ultra.my_utilities.vehicle_info.mapper.VehicleMapper">
    <resultMap id="brandMap" type="wang.ultra.my_utilities.vehicle_info.entity.BrandEntity">
        <result column="id" property="id"/>
        <result column="brand_name" property="brandName"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <insert id="addBrand" parameterType="list">
        insert ignore into vehicle_info_brand (id, brand_name, update_date) values
        <foreach collection="list" separator="," item="BrandEntity">
            ('${BrandEntity.id}', '${BrandEntity.brandName}', '${BrandEntity.updateDate}')
        </foreach>
    </insert>

    <insert id="addYear" parameterType="list">
        insert ignore into vehicle_info_year (id, brand_name, year, update_date) values
        <foreach collection="list" separator="," item="YearEntity">
            ('${YearEntity.id}', '${YearEntity.brandName}', '${YearEntity.year}', '${YearEntity.updateDate}')
        </foreach>
    </insert>

    <insert id="addModel" parameterType="list">
        insert ignore into vehicle_info_model (id, brand_name, year, model_name, update_date) values
        <foreach collection="list" separator="," item="ModelEntity">
            ('${ModelEntity.id}', '${ModelEntity.brandName}', '${ModelEntity.year}', '${ModelEntity.modelName}',
            '${ModelEntity.updateDate}')
        </foreach>
    </insert>

    <insert id="addSpec" parameterType="list">
        insert ignore into vehicle_info_model_spec (
        id, model_id, update_date,
        body, trim, trim_attributes, trim_body_types,
        engine_code, engine_type, fuel,
        generation_name, generation_start_year, generation_end_year, generation_years,
        market_id, market_abbr, market_name,
        power_ps, power_hp, power_kw,
        bolt_pattern, centre_bore, pcd, stud_holes,
        rear_axis_bolt_pattern, rear_axis_centre_bore, rear_axis_pcd, rear_axis_stud_holes,
        lock_text, lock_type
        ) values
        <foreach collection="list" separator="," item="SpecEntity">
            (
            '${SpecEntity.id}', '${SpecEntity.modelId}', '${SpecEntity.updateDate}',
            '${SpecEntity.body}', '${SpecEntity.trim}', '${SpecEntity.trimAttributes}', '${SpecEntity.trimBodyTypes}',
            '${SpecEntity.engineCode}', '${SpecEntity.engineType}', '${SpecEntity.fuel}',
            '${SpecEntity.generationName}', '${SpecEntity.generationStartYear}', '${SpecEntity.generationEndYear}',
            '${SpecEntity.generationYears}',
            '${SpecEntity.marketId}', '${SpecEntity.marketAbbr}', '${SpecEntity.marketName}',
            '${SpecEntity.powerPs}', '${SpecEntity.powerHp}', '${SpecEntity.powerKw}',
            '${SpecEntity.frontAxisBoltPattern}', '${SpecEntity.frontAxisCentreBore}', '${SpecEntity.frontAxisPcd}', '${SpecEntity.frontAxisStudHoles}',
            '${SpecEntity.rearAxisBoltPattern}', '${SpecEntity.rearAxisCentreBore}', '${SpecEntity.rearAxisPcd}',
            '${SpecEntity.rearAxisStudHoles}',
            '${SpecEntity.lockText}', '${SpecEntity.lockType}'

            )
        </foreach>
    </insert>

    <insert id="addSpecBodies" parameterType="list">
        insert ignore into vehicle_info_model_spec_bodies (id, spec_id, body_title, image, update_date) values
        <foreach collection="list" separator="," item="SpecBodiesEntity">
            (
            '${SpecBodiesEntity.id}', '${SpecBodiesEntity.specId}', '${SpecBodiesEntity.bodyTitle}',
            '${SpecBodiesEntity.image}', '${SpecBodiesEntity.updateDate}'
            )
        </foreach>
    </insert>

    <insert id="addSpecWheels" parameterType="list">
        insert ignore into vehicle_info_model_spec_wheels (
        id, spec_id, update_date,
        front_loading_index, front_rim, front_rim_diameter, front_rim_offset, front_rim_width,
        front_speed_index, front_tire, front_tire_aspect_ratio, front_tire_construction, front_tire_diameter,
        front_tire_is_82series, front_tire_pressure_bar, front_tire_pressure_kpa, front_tire_pressure_psi,
        front_tire_section_width, front_tire_sizing_system, front_tire_width,
        rear_load_index, rear_rim, rear_rim_diameter, rear_rim_offset, rear_rim_width, rear_speed_index,
        rear_tire, rear_tire_aspect_ratio, rear_tire_construction, rear_tire_diameter, rear_tire_is_82series,
        rear_tire_pressure_bar, rear_tire_pressure_kpa, rear_tire_pressure_psi, rear_tire_section_width,
        rear_tire_sizing_system, rear_tire_width,
        is_pressed_steel_rims, is_recommended_for_winter, showing_fp_only
        ) values
        <foreach collection="list" separator="," item="SpecWheelsEntity">
            (
            '${SpecWheelsEntity.id}', '${SpecWheelsEntity.specId}', '${SpecWheelsEntity.updateDate}',
            '${SpecWheelsEntity.frontLoadingIndex}', '${SpecWheelsEntity.frontRim}',
            '${SpecWheelsEntity.frontRimDiameter}', '${SpecWheelsEntity.frontRimOffset}',
            '${SpecWheelsEntity.frontRimWidth}', '${SpecWheelsEntity.frontSpeedIndex}', '${SpecWheelsEntity.frontTire}',
            '${SpecWheelsEntity.frontTireAspectRatio}', '${SpecWheelsEntity.frontTireConstruction}',
            '${SpecWheelsEntity.frontTireDiameter}', '${SpecWheelsEntity.frontTireIs82series}',
            '${SpecWheelsEntity.frontTirePressureBar}', '${SpecWheelsEntity.frontTirePressureKpa}',
            '${SpecWheelsEntity.frontTirePressurePsi}', '${SpecWheelsEntity.frontTireSectionWidth}',
            '${SpecWheelsEntity.frontTireSizingSystem}', '${SpecWheelsEntity.frontTireWidth}',
            '${SpecWheelsEntity.rearLoadingIndex}', '${SpecWheelsEntity.rearRim}',
            '${SpecWheelsEntity.rearRimDiameter}',
            '${SpecWheelsEntity.rearRimOffset}', '${SpecWheelsEntity.rearRimWidth}',
            '${SpecWheelsEntity.rearSpeedIndex}',
            '${SpecWheelsEntity.rearTire}', '${SpecWheelsEntity.rearTireAspectRatio}',
            '${SpecWheelsEntity.rearTireConstruction}', '${SpecWheelsEntity.rearTireDiameter}',
            '${SpecWheelsEntity.rearTireIs82series}', '${SpecWheelsEntity.rearTirePressureBar}',
            '${SpecWheelsEntity.rearTirePressureKpa}', '${SpecWheelsEntity.rearTirePressurePsi}',
            '${SpecWheelsEntity.rearTireSectionWidth}', '${SpecWheelsEntity.rearTireSizingSystem}',
            '${SpecWheelsEntity.rearTireWidth}',
            '${SpecWheelsEntity.isPressedSteelRims}', '${SpecWheelsEntity.isRecommendedForWinter}',
            '${SpecWheelsEntity.showingFpOnly}'
            )
        </foreach>
    </insert>

</mapper>
