<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wang.ultra.my_utilities.blog.mapper.ContextMapper">

    <insert id="contextAdd" parameterType="list">
        insert into blog_context_files (uuid, title, cover_img_location, brief, context_priority, if_private, user, create_time, update_time, status) values
        <foreach collection="list" separator="," item="ContextEntity">
            ('${ContextEntity.uuid}', '${ContextEntity.title}', '${ContextEntity.coverImgLocation}', '${ContextEntity.brief}', '${ContextEntity.contextPriority}', '${ContextEntity.ifPrivate}', '${ContextEntity.user}', '${ContextEntity.create_time}', '${ContextEntity.update_time}', '${ContextEntity.status}')
        </foreach>
    </insert>

    <update id="contextUpgrade" parameterType="wang.ultra.my_utilities.blog.entity.ContextEntity">
        update blog_context_files set
        title = '${title}',
        cover_img_location = '${coverImgLocation}',
        brief = '${brief}',
        context_priority = '${contextPriority}',
        if_private = '${ifPrivate}',
        update_time = '${update_time}',
        status = '${status}'
        where uuid = '${uuid}'
    </update>

    <delete id="contextDelete">
        delete from blog_context_files where uuid = #{uuid}
    </delete>

    <update id="contextAmountCount">
        update blog_context_files set amount = #{amount} where 1 = 1 and uuid = #{uuid}
    </update>

    <update id="contextTitleUpdate">
        update blog_context_files set title = #{title}, update_time = #{update_time} where uuid = #{id}
    </update>

    <update id="contextUpdate">
        update blog_context_files set update_time = #{update_time} where uuid = #{id}
    </update>
    <update id="contextAmount">
        update blog_context_files set amount = amount + 1 where uuid = #{id}
    </update>


    <sql id="contextSelectSql">
        select * from blog_context_files
    </sql>

    <sql id="contextCountSelectSql">
        select count(*) from blog_context_files
    </sql>

    <select id="contextList" resultType="map">
        select uuid, title, cover_img_location, brief, context_priority, if_private, user, update_time from blog_context_files where status = 0 order by context_priority desc, update_time desc
    </select>

    <select id="contextSearchByUser" resultType="map">
        select uuid, title, cover_img_location, brief, context_priority, if_private, user, update_time from blog_context_files where status = 0 and user = #{username} order by context_priority desc, update_time desc
    </select>

    <select id="contextSearchByUuid" resultType="map">
        select * from blog_context_files where status = 0 and uuid = #{uuid}
    </select>
    <select id="contextListRecommendIn3" resultType="map">
        select uuid, title, cover_img_location, brief, context_priority, if_private, user, update_time
        from blog_context_files
        where status = 0
        order by context_priority desc, update_time desc
        limit 3
    </select>
    <select id="getUserContexts" resultType="String">
        select count(*) from blog_context_files where status = 0 and user = #{username}
    </select>

</mapper>
