<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wang.ultra.my_utilities.blog.mapper.UserLoginRecordMapper">

    <insert id="userLoginRecordAdd" parameterType="list">
        insert into user_login_record (username, record_time, record_type, record_context, login_ip) values
        <foreach collection="list" separator="," item="UserLoginRecordEntity">
            ('${UserLoginRecordEntity.username}', '${UserLoginRecordEntity.record_time}','${UserLoginRecordEntity.record_type}','${UserLoginRecordEntity.record_context}','${UserLoginRecordEntity.login_ip}')
        </foreach>
    </insert>

<!--    <delete id="userLoginDelete">-->
<!--        delete from user_login_info where username = #{username}-->
<!--    </delete>-->

<!--    <delete id="userLoginDelete" parameterType="wang.ultra.my_utilities.blog.entity.UserLoginRecordEntity">-->
<!--        update user_login_info set status = '${UserLoginEntity.status}', update_time = '${UserLoginEntity.update_time}' where username = '${UserLoginEntity.username}'-->
<!--    </delete>-->

<!--    <update id="userLoginUpdatePassword" parameterType="wang.ultra.my_utilities.blog.entity.UserLoginRecordEntity">-->
<!--        update user_login_info set password = '${UserLoginEntity.password}', salt = '${UserLoginEntity.salt}', update_time = '${UserLoginEntity.update_time}' where username = '${UserLoginEntity.username}'-->
<!--    </update>-->

<!--    <sql id="userLoginAccountCount">-->
<!--        select count(*) from user_login_info-->
<!--    </sql>-->

    <select id="recordSearchByUsername" resultType="map">
        select * from user_login_record where username = #{username}
    </select>

</mapper>
