<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wang.ultra.my_utilities.stock_exchange.mapper.SchedulerMapper">

    <insert id="add" parameterType="list">
        insert ignore into sync_scheduler (id, job_name, trigger_name, cron_expression, job_class, status) values
        <foreach collection="list" separator="," item="SchedulerEntity">
            (
                '${SchedulerEntity.id}',
                '${SchedulerEntity.jobName}',
                '${SchedulerEntity.triggerName}',
                '${SchedulerEntity.cronExpression}',
                '${SchedulerEntity.jobClass}',
                '${SchedulerEntity.status}'
            )
        </foreach>
    </insert>

    <select id="getAll" resultType="map" >
        select * from sync_scheduler ORDER BY job_note
    </select>
    <select id="getJob" resultType="map" >
        select * from sync_scheduler where job_name = #{jobName}
    </select>
</mapper>
